<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Youtube Downloader</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<div class="content">
    <h1 style="text-align: center">YouTube Downloader</h1>
    <div class="form" style="text-align: center">
        <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" id="submitButton" value="Download Video">
    </form>
    </div>
    <h1>Progress Bar</h1>
    <div id="progress-container">
        <div id="progress-bar" style="width: 0%;"></div>
    </div>
    <p id="progress-text">0%</p>

    <script>
        const progressBar = document.getElementById('progress-bar');
        const progressText = document.getElementById('progress-text');

        const eventSource = new EventSource('/progress_data');
        eventSource.onmessage = (event) => {
            const progress = parseInt(event.data);
            progressBar.style.width = progress + '%';
            progressText.innerText = progress + '%';
        };

        eventSource.onerror = (error) => {
            console.error('EventSource failed:', error);
            eventSource.close();
        };
    </script>
    <div>
        <h1 style="text-align: center">History</h1>

        <table>
            <tr>
            <th>Title</th>
            <th>Added</th>
            <th>Path</th>
            <th>Actions</th>
            </tr>
            {% for video in history %}
                <tr>
                    <td>{{ video.content }}</td>
                    <td>{{ video.date_created.date() }}</td>
                    <td>{{ video.path }}</td>
                    <td>
                        <a href="/delete/{{ video.id }}">Delete</a>
                        <a href="/update/{{ video.id }}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>